    /* Webkit */
    ::selection {
    background: #dcac34;
    }
    /* Gecko/Mozilla */
    ::-moz-selection {
    background: #dcac34;
    }


    h1 a:hover,
    .box_image_holder .box_icon .fa-stack i.fa-stack-base,
    .q_percentage_with_icon,
    .filter_holder ul li.active span,
    .filter_holder ul li:hover span,
    .q_tabs .tabs-nav li.active a:hover,
    .q_tabs .tabs-nav li a:hover,
    .q_accordion_holder.accordion .ui-accordion-header:hover,
    .q_accordion_holder.accordion.with_icon .ui-accordion-header i,
    .testimonials .testimonial_text_inner p.testimonial_author span.author_company,
    .testimonial_content_inner .testimonial_author .company_position,
    .q_icon_with_title.center .icon_holder .font_awsome_icon i:hover,
    .q_box_holder.with_icon .box_holder_icon_inner .fa-stack i.fa-stack-base,
    .q_icon_with_title.boxed .icon_holder .fa-stack,
    .q_progress_bars_icons_inner .bar.active i.fa-circle,
    .q_list.number ul>li:before,
    .q_social_icon_holder:hover .simple_social,
    .social_share_dropdown ul li :hover i,
    .social_share_list_holder ul li i:hover,
	.blog_holder.blog_masonry_date_in_image .social_share_list_holder ul li i:hover,
    .latest_post_inner .post_infos a:hover,
    .q_masonry_blog article .q_masonry_blog_post_info a:hover,
    .blog_holder article:not(.format-quote):not(.format-link) .post_info a:hover,
    .latest_post_inner .post_comments:hover i,
    .blog_holder article .post_description a:hover,
    .blog_holder article .post_description .post_comments:hover,
    .blog_like a:hover i,
    .blog_like a.liked i,
	.latest_post .blog_like a:hover span,
    article:not(.format-quote):not(.format-link) .blog_like a:hover span,
    .comment_holder .comment .text .replay,
    .comment_holder .comment .text .comment-reply-link,
    .header-widget.widget_nav_menu ul.menu li a:hover,
    aside .widget a:hover,
    aside .widget.posts_holder li:hover,
    .wpb_widgetised_column .widget a:hover,
    .wpb_widgetised_column .widget.posts_holder li:hover,
    .q_steps_holder .circle_small:hover span,
    .q_steps_holder .circle_small:hover .step_title,
    .header_top #lang_sel > ul > li > a:hover,
    .header_top #lang_sel_click > ul > li> a:hover,
    .header_top #lang_sel_list ul li a.lang_sel_sel,
    .header_top #lang_sel_list ul li a:hover,
    aside .widget #lang_sel a.lang_sel_sel:hover,
    aside .widget #lang_sel_click a.lang_sel_sel:hover,
    aside .widget #lang_sel ul ul a:hover,
    aside .widget #lang_sel_click ul ul a:hover,
    aside .widget #lang_sel_list li a.lang_sel_sel,
    aside .widget #lang_sel_list li a:hover,
    .wpb_widgetised_column .widget #lang_sel a.lang_sel_sel:hover,
    .wpb_widgetised_column .widget #lang_sel_click a.lang_sel_sel:hover,
    .wpb_widgetised_column .widget #lang_sel ul ul a:hover,
    .wpb_widgetised_column .widget #lang_sel_click ul ul a:hover,
    .wpb_widgetised_column .widget #lang_sel_list li a.lang_sel_sel,
    .wpb_widgetised_column .widget #lang_sel_list li a:hover,
    .service_table_inner li.service_table_title_holder i,
    .latest_post_two_holder .latest_post_two_text a:hover,
            .myaccount_user a,
        .woocommerce .select2-results li.select2-highlighted,
        .woocommerce-page .select2-results li.select2-highlighted,
        .woocommerce-checkout .chosen-container .chosen-results li.active-result.highlighted,
        .woocommerce-account .chosen-container .chosen-results li.active-result.highlighted,
        .woocommerce ins, .woocommerce-page ins,
        .woocommerce ul.products li.product:hover h6,
        .woocommerce div.product div.product_meta > span a:hover,
        .woocommerce div.cart-collaterals div.cart_totals table tr.order-total strong span.amount,
        .woocommerce-page div.cart-collaterals div.cart_totals table tr.order-total strong span.amount,
        .woocommerce div.cart-collaterals div.cart_totals table tr.order-total strong,
        .woocommerce .checkout-opener-text a,
        .woocommerce form.checkout table.shop_table tfoot tr.order-total th,
        .woocommerce form.checkout table.shop_table tfoot tr.order-total td span.amount,
        .woocommerce aside ul.product_list_widget li > a:hover,
        .woocommerce aside ul.product-categories li > a:hover,
        .woocommerce aside ul.product_list_widget li span.amount,
		aside ul.product_list_widget li span.amount,
        .woocommerce aside .widget ul.product-categories a:hover,
        .woocommerce-page aside .widget ul.product-categories a:hover,        
        .wpb_widgetised_column ul.product_list_widget li > a:hover,
        .wpb_widgetised_column ul.product-categories li > a:hover,
        .wpb_widgetised_column ul.product_list_widget li span.amount,
        .wpb_widgetised_column .widget ul.product-categories a:hover,
        .shopping_cart_header .header_cart:hover i,
        .woocommerce-product-rating a:hover,
		.select2-container--default.select2-container--open .select2-selection--single,
		.select2-container--default .select2-results__option[aria-selected=true],
		.select2-container--default .select2-results__option--highlighted[aria-selected],
        .q_team .q_team_social_holder .q_social_icon_holder:hover .simple_social,
	.portfolio_template_8 .portfolio_detail .info .category,
	.portfolio_navigation.navigation_title .post_info span.categories,
	.qode_portfolio_related .projects_holder article .portfolio_description .project_category,
	.blog_compound article .post_content .blog_like a:hover, 
	.blog_compound article .post_content .blog_like a:hover span, 
	.blog_compound article .post_content .blog_share a:hover, 
	.blog_compound article .post_content .blog_share a:hover span, 
	.blog_compound article .post_content .post_comments:hover, 
	.blog_compound article .post_content .post_comments:hover span,
	.blog_holder.blog_pinterest article.format-link .post_info a:hover, 
	.blog_holder.blog_pinterest article.format-quote .post_info a:hover,
	.blog_compound .post_title .category a,
	.blog_compound .post_title .category span.date,
	.q_price_table.qode_pricing_table_advanced .qode_pt_subtitle,
	.q_price_table.qode_pricing_table_advanced .qode_pt_additional_info .qode_pt_icon,
	.q_price_table.qode_pricing_table_advanced .price_table_inner .value,
	table.tt_timetable .event .event_header,
	table.tt_timetable .event a,
	.tt_tabs .tt_tabs_navigation .ui-tabs-active a,
	.tt_tabs .tt_tabs_navigation li a:hover,
    .qode-owl-slider .owl-nav .owl-next:hover .qode-next-icon,
    .qode-owl-slider .owl-nav .owl-next:hover .qode-prev-icon,
    .qode-owl-slider .owl-nav .owl-prev:hover .qode-next-icon,
    .qode-owl-slider .owl-nav .owl-prev:hover .qode-prev-icon,
    .qode-owl-slider-style .owl-nav .owl-next:hover .qode-next-icon,
    .qode-owl-slider-style .owl-nav .owl-next:hover .qode-prev-icon,
    .qode-owl-slider-style .owl-nav .owl-prev:hover .qode-next-icon,
    .qode-owl-slider-style .owl-nav .owl-prev:hover .qode-prev-icon
	{
        color: #dfb034 !important;
    }
	h2 a:hover,
	h3 a:hover,
	h4 a:hover,
	h5 a:hover,
	h6 a:hover,
	a:hover,
	p a:hover,
	.portfolio_share .social_share_holder a:hover,
	.breadcrumb .current,
	.breadcrumb a:hover,
	.q_icon_with_title .icon_with_title_link,
	.q_counter_holder span.counter,
	.q_font_awsome_icon i,
    .q_font_awsome_icon span,
	.q_dropcap,
	.q_counter_holder span.counter,
	nav.mobile_menu ul li a:hover,
	nav.mobile_menu ul li.active > a,
	.q_progress_bars_icons_inner.square .bar.active i,
	.q_progress_bars_icons_inner.circle .bar.active i,
	.q_progress_bars_icons_inner.normal .bar.active i,
	.q_font_awsome_icon_stack .fa-circle,
	.footer_top .q_social_icon_holder:hover .simple_social,
	.more_facts_button:hover,
	.box_holder_icon .fa-stack i,
	.blog_large_image_simple .minimalist_date,
	nav.content_menu ul li.active:hover i,
	nav.content_menu ul li:hover i,
	nav.content_menu ul li.active:hover a,
	nav.content_menu ul li:hover a,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover span,
	.vc_grid-container .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item.vc_active span,
    .q_font_awsome_icon i:hover,
    .q_font_awsome_icon span:hover,
    .fullscreen_search_holder .search_submit:hover,
    .title .text_above_title,
	.qode-comparative-features-table .qode-cft-link:hover,
	.qode-comparative-features-table .qode-cft-mark.qode-cft-active,
	.qode-blog-carousel-titled .qode-bct-post .qode-bct-post-date,
	.qode-showcase-icon .qode-icon-holder.qode-icon-circle .qode-icon-element
	{

		color: #dfb034;
	}

    .box_image_with_border:hover,
    .qbutton:hover,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
    .load_more a:hover,
    .blog_load_more_button a:hover,
    #submit_comment:hover,
    .drop_down .wide .second ul li .qbutton:hover,
    .drop_down .wide .second ul li ul li .qbutton:hover,
    .qbutton.white:hover,
    .qbutton.green,
    .portfolio_slides .hover_feature_holder_inner .qbutton:hover,
    .testimonials_holder.light .flex-direction-nav a:hover,
    .q_progress_bars_icons_inner.square .bar.active .bar_noactive,
    .q_progress_bars_icons_inner.square .bar.active .bar_active,
    .q_progress_bars_icons_inner.circle .bar.active .bar_noactive,
    .q_progress_bars_icons_inner.circle .bar.active .bar_active,
    .widget.widget_search form.form_focus,
    .q_steps_holder .circle_small_wrapper,
    .animated_icon_inner span.animated_icon_back i,
    body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner,
    body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner,
            .woocommerce .button:hover,
        .woocommerce-page .button:hover,
        .woocommerce #submit:hover,
        .woocommerce ul.products li.product a.qbutton:hover,
        .woocommerce-page ul.products li.product a.qbutton:hover,
        .woocommerce ul.products li.product .added_to_cart:hover,
        input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
    .tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected{
        border-color: #dfb034    }

    .tt_tabs .tt_tabs_navigation .ui-tabs-active a,
    .tt_tabs .tt_tabs_navigation li a:hover,
    .tt_tabs .tt_tabs_navigation li a{
        border-color: #dfb034 !important;
	}

    .q_icon_list i,
    .q_progress_bar .progress_content,
    .q_progress_bars_vertical .progress_content_outer .progress_content,
    .qbutton:hover,
	.vc_grid-container .vc_row.vc_grid .vc_grid-item .vc_btn:hover,
	.vc_grid-container .vc_row.vc_grid .vc_pageable-load-more-btn .vc_btn:hover,
	.post-password-form input[type='submit']:hover,
    .load_more a:hover,
    .blog_load_more_button a:hover,
    #submit_comment:hover,
    .drop_down .wide .second ul li .qbutton:hover,
    .drop_down .wide .second ul li ul li .qbutton:hover,
    .qbutton.white:hover,
    .qbutton.green,
    .call_to_action,
    .highlight,
    .testimonials_holder.light .flex-direction-nav a:hover,
    .q_dropcap.circle,
    .q_dropcap.square,
    .q_message,
    .q_price_table.active .active_text,
    .q_icon_with_title.boxed .icon_holder .fa-stack,
    .q_font_awsome_icon_square,
    .q_icon_with_title.square .icon_holder .fa-stack:hover,
    .box_holder_icon_inner.square .fa-stack:hover,
    .box_holder_icon_inner.circle .fa-stack:hover,
    .circle .icon_holder .fa-stack:hover,
    .q_list.number.circle_number ul>li:before,
    .q_social_icon_holder.circle_social .fa-stack:hover,
    .social_share_dropdown ul li.share_title,
    .latest_post_holder .latest_post_date .post_publish_day,
    .q_masonry_blog article.format-link:hover,
    .q_masonry_blog article.format-quote:hover,
    #wp-calendar td#today,
    .vc_text_separator.full div,
    .mejs-controls .mejs-time-rail .mejs-time-current,
    .mejs-controls .mejs-time-rail .mejs-time-handle,
    .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
    .q_pie_graf_legend ul li .color_holder,
    .q_line_graf_legend ul li .color_holder,
    .q_team .q_team_text_inner .separator,
    .circle_item .circle:hover,
    .qode_call_to_action.container,
    .qode_carousels .flex-control-paging li a.flex-active,
    .animated_icon_inner span.animated_icon_back i,
            .woocommerce .button:hover,
        .woocommerce-page .button:hover,
        .woocommerce #submit:hover,
        .woocommerce ul.products li.product a.qbutton:hover,
        .woocommerce-page ul.products li.product a.qbutton:hover,
        .woocommerce ul.products li.product .added_to_cart:hover,
        .woocommerce .quantity .minus:hover,
        .woocommerce #content .quantity .minus:hover,
        .woocommerce-page .quantity .minus:hover,
        .woocommerce-page #content .quantity .minus:hover,
        .woocommerce .quantity .plus:hover,
        .woocommerce #content .quantity .plus:hover,
        .woocommerce-page .quantity .plus:hover,
        .woocommerce-page #content .quantity .plus:hover,
        .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range,
        .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range,
    	.q_circles_holder .q_circle_inner2:hover,
    input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .portfolio_main_holder .item_holder.subtle_vertical_hover .icons_holder a,
    .portfolio_main_holder .item_holder.image_subtle_rotate_zoom_hover .icons_holder a:hover,
    .portfolio_main_holder .item_holder.image_text_zoom_hover .icons_holder a,
    .portfolio_main_holder .item_holder.slow_zoom .icons_holder a,
	.qode_video_box .qode_video_image:hover .qode_video_box_button,
	.blog_holder.masonry_gallery article.format-link:hover,
	.blog_holder.masonry_gallery article.format-quote:hover,
	.blog_holder.blog_chequered article.format-link:hover,
	.blog_holder.blog_chequered article.format-quote:hover,
	.qode-pricing-calculator .qode-pricing-calculator-switch input:checked+.qode-pricing-calculator-slider,
	.qode-icon-holder.qode-icon-circle,
	.qode-icon-holder.qode-icon-square,
	.qode-qbutton-main-color,
	.qode-advanced-tabs .qode-advanced-tabs-nav li,
	.qode-accordion-holder .qode-title-holder.ui-state-active,
	.qode-accordion-holder .qode-title-holder.ui-state-hover,
	header.menu_bottom .header_bottom_right_widget_holder .header_bottom_widget.widget_search form>div input[type=text],
    .qode-advanced-call-to-action.qode-advanced-cta-gradient-animation .qode-advanced-cta-background-3,
    .tt_tabs .tt_tabs_navigation li a,
    .tabs_box_navigation.sf-timetable-menu .tabs_box_navigation_selected,
    .tabs_box_navigation.sf-timetable-menu li ul li a:hover,
    .tabs_box_navigation.sf-timetable-menu li ul li.selected a:hover,
    #qode-multi-device-showcase.qode-mds-appear-effect #qode-mds-spinner .qode-mds-pulse    
	{
        background-color: #dfb034;
    }


	.qode-showcase-item-holder.qode-showcase-active .qode-icon-holder.qode-icon-circle{
	background-color: #dfb034 !important;
	}

    .q_circles_holder .q_circle_inner2:hover,
    body:not(.search-results) .blog_holder article.format-link .post_text:hover .post_text_inner,
	body:not(.search-results) .blog_holder article.format-quote .post_text:hover .post_text_inner {
        background-color: #dfb034 !important;
        border-color: #dfb034 !important;
    }

    .qode-lazy-preloader svg circle,
    #qode-multi-device-showcase.qode-mds-appear-effect #qode-mds-spinner svg circle {
        stroke: #dfb034    }



    body{
    	    	    	font-family: 'Work Sans', sans-serif;
    	    	 color: #666666;     	 font-size: 15px;     	font-weight: 400;    }
            body,
		.wrapper,
        .content,
        .full_width,
        .overlapping_content .content > .container,
		.more_facts_holder,
		.comment_holder .comment #respond textarea,
		.comment_holder .comment #respond input[type='text'],
		.comment_holder .comment #respond input[type='email'],
		.content .container
		{
        	background-color:#ffffff;
        }
		.angled-section polygon{
			fill: #ffffff;
		}
		        .woocommerce-cart .woocommerce .blockOverlay.blockUI {
            background-color:#ffffff !important;
        }
    		
    









.header_top,
.fixed_top_header .top_header,
.fixed_top_header nav.mobile_menu{
	background-color: rgba(41,44,49,1);
}
header.sticky .header_top{
	background-color: rgba(41,44,49,0.7);
}





.content{
	margin-top: 0;
}

.logo_wrapper,
.side_menu_button,
.shopping_cart_inner
{
	height: 108px;
}
.content.content_top_margin{
	margin-top: 141px !important;
}

header:not(.centered_logo) .header_fixed_right_area {
    line-height: 108px;
}

header.scrolled .logo_wrapper,
header.scrolled .side_menu_button{
	height: 80px;
}

header.scrolled nav.main_menu ul li a {
	line-height: 80px;
}

header.scrolled .drop_down .second{
	top: 80px;
}




        header.fixed_hiding .q_logo a,
        header.fixed_hiding .q_logo{
            max-height: 28px;
        }




    .touch section.parallax_section_holder{
		height: auto !important;
		min-height: 300px;  
		background-position: center top !important;  
		background-attachment: scroll;
        background-size: cover;
	}
nav.main_menu > ul > li > a{
	line-height: 108px;
}



nav.main_menu > ul > li > a{
	 color: #1d1c1c; 		 font-size: 17px;     	 font-style: normal; 	 font-weight: 600; 	 letter-spacing: -0.48px; 	 text-transform: none; }



nav.main_menu ul li:hover a {
	 color: #dcac34; }

		nav.main_menu ul li.active a {
			color: #dcac34		}
	

















h1,
.h1,
.title h1 {
		color: #100f0f; 		font-size: 60px; 	line-height: 65px; 	font-style: normal; 	font-weight: 700;     letter-spacing: -3.6px;     text-transform: none; }
.title h1{
					font-style: normal; 		}


	.title.title_size_medium h1{
	font-size: 70px; 	line-height: 75px; 	font-weight: 700;     letter-spacing: -3.5px; 		}
h2,
.h2,
h2 a{
	color: #100f0f; 		font-size: 40px; 	line-height: 44px; 	font-style: normal; 	font-weight: 700;     letter-spacing: -1.6px; 	text-transform: none; }
h3,
.h3,
h3 a{
	color: #100f0f; 		font-size: 25px; 	line-height: 30px; 	font-style: normal; 	font-weight: 700;     letter-spacing: -1.5px; 	text-transform: none; }
h4,
.h4,
h4 a{
	color: #100f0f; 		font-size: 20px; 	line-height: 22px; 	font-style: normal; 	font-weight: 700;     letter-spacing: -0.8px; 	text-transform: none; }
h5,
.h5,
h5 a,
.q_icon_with_title .icon_text_holder h5.icon_title{
	color: #100f0f; 		font-size: 16px; 	line-height: 26px; 	font-style: normal; 	font-weight: 600;     letter-spacing: -0.6px; 	text-transform: none; }
h6,
.h6,
h6 a {
	color: #8b8a8a; 		font-size: 12px; 	line-height: 17px; 	font-style: normal;  	font-weight: 500; 	letter-spacing: -0.2px; 	text-transform: uppercase; }

    p{
    	color: #666666;    	    	font-size: 15px;    	line-height: 25px;    	font-style: normal;    	font-weight: 400;    	    	    }
    .filter_holder ul li span,
    blockquote h5,
    .q_social_icon_holder .simple_social,
    .header-widget.widget_nav_menu ul.menu li a,
    .side_menu a,
    .side_menu li,
    .side_menu span,
    .side_menu p,
    .side_menu .widget.widget_rss li a.rsswidget,
    .side_menu #wp-calendar caption,
    .side_menu #wp-calendar th, 
    .side_menu #wp-calendar td,
    aside .widget #lang_sel_list li a,
    aside .widget #lang_sel li a,
    aside .widget #lang_sel_click li a,
    .wpb_widgetised_column .widget #lang_sel_list li a,
    .wpb_widgetised_column .widget #lang_sel li a,
    .wpb_widgetised_column .widget #lang_sel_click li a,
    section.side_menu #lang_sel_list li a,
    section.side_menu #lang_sel li a,
    section.side_menu #lang_sel_click li a,
    footer #lang_sel_list li a,
    footer #lang_sel li a,
    footer #lang_sel_click li a,
    footer #lang_sel_list.lang_sel_list_horizontal a,
    footer #lang_sel_list.lang_sel_list_vertical a,
    .side_menu #lang_sel_list.lang_sel_list_horizontal a,
    .side_menu #lang_sel_list.lang_sel_list_vertical a,
    #lang_sel_footer a{
    	color: #666666;    }
    .header_top #lang_sel > ul > li > a, 
    .header_top #lang_sel_click > ul > li> a,
    footer #lang_sel ul li a,
    footer #lang_sel ul ul a,
    footer #lang_sel_click ul li a,
    footer #lang_sel_click ul ul a,
    footer #lang_sel_click ul ul a span,
    section.side_menu #lang_sel ul li a,
    section.side_menu #lang_sel ul ul a,
    section.side_menu #lang_sel ul ul a:visited,
    section.side_menu #lang_sel_click > ul > li > a,
    section.side_menu #lang_sel_click ul ul a,
    section.side_menu #lang_sel_click ul ul a:visited{
    	color: #666666 !important;    }
            .woocommerce del,
        .woocommerce-page del,
        .woocommerce input[type='text']:not(.qode_search_field),
        .woocommerce input[type='password'],
        .woocommerce input[type='email'],
        .woocommerce-page input[type='text']:not(.qode_search_field),
        .woocommerce-page input[type='password'],
        .woocommerce-page input[type='email'],
        .woocommerce-page input[type='tel'],
        .woocommerce textarea,
        .woocommerce-page textarea,
        .woocommerce .select2-container .select2-choice,
        .woocommerce-page .select2-container .select2-choice,
        .woocommerce .select2-dropdown-open.select2-drop-above .select2-choice,
        .woocommerce .select2-dropdown-open.select2-drop-above .select2-choices,
        .woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choice,
        .woocommerce-page .select2-dropdown-open.select2-drop-above .select2-choices,
        .woocommerce .chosen-container.chosen-container-single .chosen-single,
        .woocommerce-page .chosen-container.chosen-container-single .chosen-single,
        .woocommerce-checkout .form-row .chosen-container-single .chosen-single,
        .woocommerce ul.products li.product h4,
        .woocommerce div.product p[itemprop='price'] del,
        .woocommerce div.product p[itemprop='price'] del span.amount,
        .woocommerce div.product div.product_meta > span span,
        .woocommerce div.product div.product_meta > span a,
        .woocommerce aside ul.product_list_widget li > a,
        .woocommerce aside ul.product-categories li > a,
        .woocommerce aside ul.product_list_widget li del span.amount,
        .wpb_widgetised_column ul.product_list_widget li > a,
        .wpb_widgetised_column ul.product-categories li > a,
        .wpb_widgetised_column ul.product_list_widget li del span.amount,
        .shopping_cart_dropdown ul li a,
        .select2-drop{
            color: #666666;
        }
    
	.subtitle {
		font-size: 20px;line-height: 22px;font-weight: 600;font-style: normal;	}
	





.qbutton,
.qbutton.medium,
#submit_comment,
.load_more a,
.blog_load_more_button a,
.post-password-form input[type='submit'],
input.wpcf7-form-control.wpcf7-submit,
input.wpcf7-form-control.wpcf7-submit:not([disabled]),
.woocommerce table.cart td.actions input[type="submit"],
.woocommerce input#place_order,
.woocommerce-page input[type="submit"],
.woocommerce .button
	{
	color: #ffffff; 	
    
		font-size: 18px; 		line-height: 60px; 		height: 60px; 		font-style: normal; 		font-weight: 600; 		background-color: #dcac34; 		border-radius: 0px; 		-moz-border-radius: 0px; 		-webkit-border-radius: 0px; 		letter-spacing: -0.72px; 		text-transform: none; 	 border-width: 0px;		padding-left: 52px; padding-right: 52px; }

.qode-qbutton-main-color {
			font-size: 18px; 		line-height: 60px; 		height: 60px; 		font-style: normal; 		font-weight: 600; 		letter-spacing: -0.72px; 		text-transform: none; }


	.qbutton:hover,
	.qbutton.medium:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.post-password-form input[type='submit']:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .woocommerce table.cart td.actions input[type="submit"]:hover,
    .woocommerce input#place_order:hover,
    .woocommerce-page input[type="submit"]:hover,
	.woocommerce .button:hover
	{
	 color: #ffffff; 
		}

	.qbutton:hover,
	#submit_comment:hover,
	.load_more a:hover,
	.blog_load_more_button a:hover,
	.post-password-form input[type='submit']:hover,
	input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover,
    .woocommerce table.cart td.actions input[type="submit"]:hover,
    .woocommerce input#place_order:hover,
    .woocommerce-page input[type="submit"]:hover,
	.woocommerce .button:hover
	{
		 background-color: #dbaf41; 			}
	.qbutton.large{

		font-size: 18px; 		line-height: 60px; 		height: 60px; 		font-weight: 600; 		padding-left: 52px; 		padding-right: 52px; 		border-radius: 0px; 		-moz-border-radius: 0px; 		-webkit-border-radius: 0px; 
	}

    .testimonials .testimonial_text_inner p{
    text-transform: uppercase    }


	.q_counter_holder span.counter{
		color: #dadcdb; 		font-weight: 700; 	 font-size: 70px; 	 font-family: 'Work Sans'; 		}
	.q_counter_holder p.counter_text{
		color: #020202; 		font-weight: 700; 		text-transform: none; 		letter-spacing: -1.5px;         	 font-size: 25px; 	 font-family: 'Work Sans'; 	}
	.q_tabs.vertical .tabs-nav li.active a,
	.q_tabs.boxed .tabs-nav li.active a,
	.q_tabs.boxed .tabs-container
	{
	border-color: #dcac34; 	}
	.q_tabs.vertical.left .tab-content{
	border-left-color: #dcac34; 	}
	.q_tabs.vertical.right .tab-content{
	border-right-color: #dcac34; 	}
	.q_tabs.vertical .tabs-nav li.active a,
	.q_tabs.boxed .tabs-nav li.active a
		{
			border-width: 2px;
		}

	.q_tabs.vertical.left .tab-content{
		border-left-width: 2px;
		left: -2px;
	}
	.q_tabs.vertical.right .tab-content{
		border-right-width: 2px;
		right: -2px;
	}
	.q_tabs.boxed .tabs-container{
		border-top-width: 2px;
		top: -2px;
	}

    .q_tabs .tabs-nav li a{
    font-size: 20px;line-height: 40px;letter-spacing: -1.2px;font-weight: 600;font-style: normal;text-transform: none;color: #ffffff    }
    .q_tabs .tabs-nav li a:hover,
	.q_tabs .tabs-nav li.active a:hover {
    color: #dbaf41 !important    }
   .q_tabs .tabs-nav li.active a {
    color: #dcac34    }



.google_map{
	height: 750px;
}



    .footer_top,
    .footer_top.footer_top_full{
     padding-bottom: 80px 
 }

.footer_top .column_inner > div h2,
.footer_top .column_inner > div h3,
.footer_top .column_inner > div h4,
.footer_top .column_inner > div h5,
.footer_top .column_inner > div h6 {
	color:#ffffff;
}
	.footer_top,
	.footer_top p,
    .footer_top span,
    .footer_top li,
    .footer_top .textwidget,
    .footer_top .widget_recent_entries>ul>li>span {
		color: #b8b7b7;
	}
    .footer_top a
	{
        color: #ffffff !important;
    }

    .footer_top .q_social_icon_holder .simple_social {
        color: #ffffff;
    }
    .footer_top a:hover
	{
        color: #dcac34 !important;
    }

    .footer_top .q_social_icon_holder:hover .simple_social {
        color: #dcac34;
    }

	.footer_top_holder{
	background: url(https://mining4truth.com/wp-content/uploads/2017/10/footer-bckg-image.jpg) no-repeat;
	background-size: cover;
	}

	.footer_bottom_holder, #lang_sel_footer{
		background-color:#000000;
	}



	.footer_bottom_holder{
	padding-bottom: 10px	}
	.footer_bottom{
		padding-top: 10px;
	}



	.footer_top h5 {
font-size: 20px;letter-spacing: -0.6px;line-height: 27px;font-weight: 700;text-transform: none;font-style: normal	}

	.footer_top,
	.footer_top p,
	.footer_top span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_shortcode):not(.qode_icon_font_elegant),
	.footer_top li,
	.footer_top .textwidget,
	.footer_top .widget_recent_entries>ul>li>span{
	font-size: 15px;letter-spacing: -1px;line-height: 25px;font-weight: 400;text-transform: none	}

	.footer_top a {
font-size: 16px;letter-spacing: -0.6px;line-height: 33px;font-weight: 500;text-transform: none;font-style: normal	}

	.footer_top,
	.footer_top .footer_col1,
	.footer_top .container_inner > .widget,
	.footer_top.footer_top_full > .widget{
		text-align: left;
	}
	.footer_top .footer_col2{
		text-align: left;
	}
	.footer_top .footer_col3{
		text-align: left;
	}
	.footer_top .footer_col4{
		text-align: left;
	}

    .footer_bottom_holder,
    .footer_bottom,
    .footer_bottom p,
    .footer_bottom_holder p,
    .footer_bottom span:not(.q_social_icon_holder):not(.fa-stack):not(.qode_icon_font_elegant){
	font-size: 16px;letter-spacing: -1px;line-height: 27px;font-weight: 500;text-transform: none;font-style: normal	}


.footer_bottom, .footer_bottom span, .footer_bottom p, .footer_bottom p a, .footer_bottom a, #lang_sel_footer ul li a,
footer #lang_sel > ul > li > a,
footer #lang_sel_click > ul > li > a,
footer #lang_sel a.lang_sel_sel,
footer #lang_sel_click a.lang_sel_sel,
footer #lang_sel ul ul a,
footer #lang_sel_click ul ul a,
footer #lang_sel ul ul a:visited,
footer #lang_sel_click ul ul a:visited,
footer #lang_sel_list.lang_sel_list_horizontal a,
footer #lang_sel_list.lang_sel_list_vertical a,
#lang_sel_footer a,
.footer_bottom ul li a {
	color:#ffffff;
}



	.side_menu .widget,
	.side_menu .widget.widget_search form,
	.side_menu .widget.widget_search form input[type="text"],
	.side_menu .widget.widget_search form input[type="submit"],
	.side_menu .widget h6,
	.side_menu .widget h6 a,
	.side_menu .widget p,
	.side_menu .widget li a,
	.side_menu .widget.widget_rss li a.rsswidget,
	.side_menu #wp-calendar caption,
	.side_menu .widget li,
	.side_menu_title h3,
	.side_menu .widget.widget_archive select,
	.side_menu .widget.widget_categories select,
	.side_menu .widget.widget_text select,
	.side_menu .widget.widget_search form input[type="submit"],
	.side_menu #wp-calendar th,
	.side_menu #wp-calendar td,
	.side_menu .q_social_icon_holder .simple_social {
		color: #ffffff;font-size: 15px;font-weight: 400;letter-spacing: -0.3px;text-transform: none;line-height: 26px;	}
	    .side_menu,
    .side_menu #lang_sel,
    .side_menu #lang_sel_click,
    .side_menu #lang_sel ul ul,
    .side_menu #lang_sel_click ul ul{
        background-color: #000000;    }
	.side_menu .widget a:hover,
	.side_menu .widget li:hover,
	.side_menu .widget li:hover > a,
	.side_menu li:hover .q_font_awsome_icon i {
		color: #dcac34;	}
	




    .side_menu,
	.side_menu_slide_from_right .side_menu{
    padding-top:95px;padding-left:60px    }



	.blog_holder.blog_large_image article .post_text h2 .date,
	.blog_holder.blog_single article .post_text h2 .date
	{
	color:#21d279;
	}

	.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_info,
	.blog_holder.blog_single article:not(.format-quote):not(.format-link) .post_info{
	font-size: 12px;line-height: 26px;font-style: normal;font-weight: 500;letter-spacing: -0.24px;text-transform: uppercase;color: #666666;	}
	.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_info a,
	.blog_holder.blog_single article:not(.format-quote):not(.format-link) .post_info a{
	color:#666666;
	}
	.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover,
	.blog_holder.blog_large_image article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover span,
	.blog_holder.blog_single article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover,
	.blog_holder.blog_single article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover span{
	color:#21d279 !important;
	}

	.blog_holder.blog_large_image article.format-quote .post_info,
	.blog_holder.blog_large_image article.format-link .post_info,
	.blog_holder.blog_single article.format-quote .post_info,
	.blog_holder.blog_single article.format-link .post_info{
	font-size: 12px;line-height: 26px;font-style: normal;font-weight: 500;letter-spacing: -0.24px;text-transform: uppercase;color: #666666;	}
	.blog_holder.blog_large_image article.format-quote .post_info a,
	.blog_holder.blog_large_image article.format-link .post_info a,
	.blog_holder.blog_single article.format-quote .post_info a,
	.blog_holder.blog_single article.format-link .post_info a{
	color:#666666;
	}
	.blog_holder.blog_large_image article.format-quote .post_text_inner .post_info a:hover,
	.blog_holder.blog_large_image article.format-link .post_text_inner .post_info a:hover,
	.blog_holder.blog_large_image article.format-quote .post_text_inner .post_info a:hover span,
	.blog_holder.blog_large_image article.format-link .post_text_inner .post_info a:hover span,
	.blog_holder.blog_single article.format-quote .post_text_inner .post_info a:hover,
	.blog_holder.blog_single article.format-link .post_text_inner .post_info a:hover,
	.blog_holder.blog_single article.format-quote .post_text_inner .post_info a:hover span,
	.blog_holder.blog_single article.format-link .post_text_inner .post_info a:hover span{
	color:#21d279 !important;
	}






	.blog_holder.masonry:not(.blog_masonry_date_in_image) h5,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) h5,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) h5 a,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) h5 a
	{
	font-size: 25px;line-height: 30px;font-style: normal;font-weight: 700;letter-spacing: -1.5px;text-transform: none;	}

	.blog_holder.masonry:not(.blog_masonry_date_in_image) article:not(.format-quote):not(.format-link) .post_info,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article:not(.format-quote):not(.format-link) .post_info{
	font-size: 12px;line-height: 26px;font-style: normal;font-weight: 500;letter-spacing: -0.24px;text-transform: uppercase;color: #666666;	}
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article:not(.format-quote):not(.format-link) .post_info a,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article:not(.format-quote):not(.format-link) .post_info a{
	color:#666666;
	}
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover span,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article:not(.format-quote):not(.format-link) .post_text_inner .post_info a:hover span{
	color:#21d279 !important;
	}

	.blog_holder.masonry:not(.blog_masonry_date_in_image) article.format-quote .post_info,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article.format-link .post_info,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article.format-quote .post_info,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article.format-link .post_info{
	font-size: 12px;line-height: 26px;font-style: normal;font-weight: 500;letter-spacing: -0.24px;text-transform: uppercase;color: #666666;	}
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article.format-quote .post_info a,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article.format-link .post_info a,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article.format-quote .post_info a,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article.format-link .post_info a{
	color:#666666;
	}
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article.format-quote .post_text_inner .post_info a:hover,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article.format-link .post_text_inner .post_info a:hover,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article.format-quote .post_text_inner .post_info a:hover span,
	.blog_holder.masonry:not(.blog_masonry_date_in_image) article.format-link .post_text_inner .post_info a:hover span,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article.format-quote .post_text_inner .post_info a:hover,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article.format-link .post_text_inner .post_info a:hover,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article.format-quote .post_text_inner .post_info a:hover span,
	.blog_holder.masonry_full_width:not(.blog_masonry_date_in_image) article.format-link .post_text_inner .post_info a:hover span{
	color:#21d279 !important;
	}





/*Blog Masonry Gallery - end */




























	.blog_holder.blog_single article .post_text .post_text_inner{
		padding-top: 50px;
	}
	.blog_holder.blog_single article h2{
		margin-bottom: 20px;
	}
	.blog_holder.blog_single article .post_info{
		margin-bottom: 28px;
	}
    .side_menu_button > a,
    .mobile_menu_button span,
	.fixed_top_header .side_menu_button > a,
    .fixed_top_header .popup_menu .line,
    .fixed_top_header .mobile_menu_button span{ color: #1d1c1c;font-size: 25px; }

    .popup_menu .line,
    .popup_menu .line:after, .popup_menu .line:before{
        background-color: #1d1c1c;
    }
    .side_menu_button > a:hover,
    .mobile_menu_button span:hover,
    .popup_menu:hover .line,
    .popup_menu:hover .line:after,
    .popup_menu:hover .line:before{ color: #dcac34; }

    .popup_menu:hover .line,
    .popup_menu:hover .line:after, .popup_menu:hover .line:before{
        background-color: #dcac34;
    }
  
 
 .vertical_menu_float .menu-item .second{
	left: calc(100% + 30px); /*because of the padding*/
}

.vertical_menu_hidden aside.vertical_menu_area .vertical_menu_float .menu-item .second {
	left: calc(100% + 40px);
}

 
 
 




	.vertical_menu_area{
		text-align:left;
	}
	


















    .portfolio_main_holder .item_holder.thin_plus_only .thin_plus_only_icon {
        font-family:     }

	.cf7_custom_style_1  input.wpcf7-form-control.wpcf7-submit,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
		background-color: rgba(255,255,255,1);border-color: #ffffff;border-width: 0px;border-top-left-radius: 0px;border-top-right-radius: 0px;border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;color: #000000;font-size: 15px;font-style: normal;font-weight: 800;letter-spacing: -0.6px;text-transform: capitalize;height: 53px;line-height: 53px;padding: 0 113px;width: 100%; text-align: center; box-sizing: border-box; padding: 0	}

	.cf7_custom_style_1  input.wpcf7-form-control.wpcf7-submit:hover,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-submit:not([disabled]):hover {
		color: #ffffff;background-color: rgba(33,210,121,1);border-color: #21d279;	}

	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_1 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_1 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_1 input.wpcf7-form-control.wpcf7-quiz{
		background-color: rgba(255,255,255,1);border-color: rgba(225,225,225,1);border-width: 2px;border-style:solid;border-top-left-radius: 1pxpx;border-top-right-radius: 1pxpx;border-bottom-right-radius: 1pxpx;border-bottom-left-radius: 1pxpx;color: #b8b7b7;font-size: 15px;font-weight: 400;letter-spacing: -0.3px;text-transform: none;padding-top: 17px;padding-right: 0px;padding-bottom: 17px;padding-left: 21px;	}


	.cf7_custom_style_2  input.wpcf7-form-control.wpcf7-submit,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-submit:not([disabled]) {
		font-family: Work Sans;font-size: 18px;font-style: normal;font-weight: 600;letter-spacing: -0.72px;text-transform: none;padding: 0 55px;	}


	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_2 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_2 input.wpcf7-form-control.wpcf7-quiz{
		background-color: #ffffff;border-color: rgba(225,225,225,1);border-width: 2px;border-style:solid;color: #9f9c9c;font-size: 15px;line-height: 26px;font-style: normal;font-weight: 400;letter-spacing: -0.3px;text-transform: none;margin-bottom: 15px;	}




	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date,
	.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea,
	.cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz{
		background-color: #edeff4;border-color: rgba(193,201,193,1);border-width: 1px;border-style:solid;border-top-left-radius: 2pxpx;border-top-right-radius: 2pxpx;border-bottom-right-radius: 2pxpx;border-bottom-left-radius: 2pxpx;	}

	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-text:focus,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-number:focus,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-date:focus,
	.cf7_custom_style_3 textarea.wpcf7-form-control.wpcf7-textarea:focus,
	.cf7_custom_style_3 select.wpcf7-form-control.wpcf7-select:focus,
	.cf7_custom_style_3 input.wpcf7-form-control.wpcf7-quiz:focus{
		border-color: rgba(146,181,209,1);	}

	.cf7_custom_style_1 ::-webkit-input-placeholder{
		color: #b8b7b7;opacity:1;	}
	.cf7_custom_style_1 :-moz-placeholder{
		color: #b8b7b7;opacity:1;	}
	.cf7_custom_style_1 ::-moz-placeholder{
		color: #b8b7b7;opacity:1;	}
	.cf7_custom_style_1 :-ms-input-placeholde{
		color: #b8b7b7;opacity:1;	}
	.cf7_custom_style_2 ::-webkit-input-placeholder{
	color: #9f9c9c;opacity:1;	}
	.cf7_custom_style_2 :-moz-placeholder{
	color: #9f9c9c;opacity:1;	}
	.cf7_custom_style_2 ::-moz-placeholder{
	color: #9f9c9c;opacity:1;	}
	.cf7_custom_style_2 :-ms-input-placeholde{
	color: #9f9c9c;opacity:1;	}
													.cf7_custom_style_2 textarea.wpcf7-form-control.wpcf7-textarea{
	height: 150px;
	}






















































    #back_to_top:hover span i,
    #back_to_top:hover span span{
    	color: #ffffff;
	}

	#back_to_top:hover > span{
		background-color: rgba(219,175,65,1);border-color: rgba(220,172,52,1)	}












		.blog_slider .blog_slider_simple_title a{
		font-size: 40px;line-height: 44px;letter-spacing: -2.4px;font-weight: 700;font-style: normal;text-transform: none;color: #ffffff		}


	.blog_slider .blog_slider_simple_title a:hover{
		color: #20d279;
	}

	.blog_slider .blog_slider_simple_title{
		line-height: 44px;
	}

		.blog_slider .blog_slider_simple_info{
		font-size: 12px;line-height: 26px;letter-spacing: -0.24px;font-weight: 500;font-style: normal;text-transform: uppercase;color: #20d279		}


	.blog_slider .blog_slider_simple_info a{
		color: #20d279;
	}


	.blog_slider .blog_slider_simple_info a:hover{
		color: #ffffff;
	}


	.blog_slider .blog_slider_simple_title{
		margin-bottom: 35px;
	}

	.blog_slider .blog_slider_simple_info{
		margin-bottom: 15px;
	}


		.blog_slider_holder .blog_slider.simple_slider .blog_text_holder_inner2{
		background-color: rgba(255,255,255,0);border-color: rgba(255,255,255,0);padding-right: 0px;padding-left: 0px;width: 51%		}


		.pagination ul li a{
		border-color: #e1e1e1;color: #000000		}
			.pagination ul li a:hover, .pagination ul li span{
		border-color: #21d279;background-color: #21d279;color: #ffffff		}
			.pagination ul li a, .pagination ul li span{
		border-width: 2px;border-radius: 0px;font-size: 15px;margin-right: 5px		}
		
	

	.caroufredsel-direction-nav a,
	.qode_image_gallery_no_space .controls a.prev-slide span,
	.qode_image_gallery_no_space .controls a.next-slide span,
	.portfolio_slider .caroufredsel-next,
	.portfolio_slider .caroufredsel-prev,
	.blog_slider .caroufredsel-next,
	.full_width .section_inner .blog_slider .caroufredsel-next,
	.blog_slider .caroufredsel-prev,
	.full_width .section_inner .blog_slider .caroufredsel-prev,
    .qode-advanced-image-gallery .owl-nav .qode-next-icon,
    .qode-advanced-image-gallery .owl-nav .qode-prev-icon{
	background-color: rgba(255,255,255,0); border-color: rgba(255,255,255,0); border-width: 0px; border-style: solid; border-radius: 0px	}
	.caroufredsel-direction-nav a:hover,
	.qode_image_gallery_no_space .controls a.prev-slide:hover span,
	.qode_image_gallery_no_space .controls a.next-slide:hover span,
	.portfolio_slider:hover .caroufredsel-direction-nav a.caroufredsel-next:hover,
	.portfolio_slider:hover .caroufredsel-direction-nav a.caroufredsel-prev:hover,
	.blog_slider:hover .caroufredsel-direction-nav a.caroufredsel-next:hover,
	.blog_slider:hover .caroufredsel-direction-nav a.caroufredsel-prev:hover,
    .qode-advanced-image-gallery .qode-owl-slider .owl-nav .owl-prev:hover .qode-prev-icon,
    .qode-advanced-image-gallery .qode-owl-slider .owl-nav .owl-next:hover .qode-next-icon{
	background-color: rgba(255,255,255,0); border-color: rgba(255,255,255,0)	}
	.caroufredsel-direction-nav a i,
	.qode_image_gallery_no_space .controls a.prev-slide i,
	.qode_image_gallery_no_space .controls a.next-slide i,
    .qode-advanced-image-gallery .owl-nav .qode-next-icon,
    .qode-advanced-image-gallery .owl-nav .qode-prev-icon{
	font-size: 45px; color: rgba(255,255,255,1)	}
	.caroufredsel-direction-nav a:hover i,
	.qode_image_gallery_no_space .controls a.prev-slide:hover i,
	.qode_image_gallery_no_space .controls a.next-slide:hover i,
	.portfolio_slider:hover .caroufredsel-direction-nav a.caroufredsel-next:hover i,
	.portfolio_slider:hover .caroufredsel-direction-nav a.caroufredsel-prev:hover i,
	.blog_slider:hover .caroufredsel-direction-nav a.caroufredsel-next:hover i,
	.blog_slider:hover .caroufredsel-direction-nav a.caroufredsel-prev:hover i,
    .qode-advanced-image-gallery .qode-owl-slider .owl-nav .owl-prev:hover .qode-prev-icon,
    .qode-advanced-image-gallery .qode-owl-slider .owl-nav .owl-next:hover .qode-next-icon{
	color: rgba(219,175,65,1)	}


	.flex-direction-nav a,
	.flexslider .flex-prev,
	.portfolio_slider .flex-prev,
	.flexslider .flex-next,
	.portfolio_slider .flex-next,
	body div.pp_default a.pp_next:after,
	body div.pp_default a.pp_previous:after,
    body a.pp_next:after,
    body a.pp_previous:after,
	.wpb_gallery .wpb_wrapper .wpb_flexslider .flex-direction-nav a,
	.qode_content_slider .flex-direction-nav .flex-prev,
	.qode_content_slider .flex-direction-nav .flex-next{
	width: 70px; height: 70px; margin-top: 0; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); transform: translateY(-50%); line-height: 70px; background-color: rgba(220,172,52,1); border-radius: 0px;
	transition: all 0.15s ease-in-out;
	}
	.flex-direction-nav a:hover,
	.flexslider .flex-prev:hover,
	.portfolio_slider .flex-prev:hover,
	.flexslider .flex-next:hover,
	.portfolio_slider .flex-next:hover,
	body div.pp_default a.pp_next:hover:after,
	body div.pp_default a.pp_previous:hover:after,
    body a.pp_next:hover:after,
    body a.pp_previous:hover:after,
	.flexslider:hover .flex-direction-nav a.flex-prev:hover,
	.flexslider:hover .flex-direction-nav a.flex-next:hover,
	.portfolio_slider:hover .flex-direction-nav a.flex-prev:hover,
	.portfolio_slider:hover .flex-direction-nav a.flex-next:hover,
	.wpb_gallery .wpb_flexslider .flex-direction-nav a:hover,
	.qode_content_slider .flex-direction-nav .flex-prev:hover,
	.qode_content_slider .flex-direction-nav .flex-next:hover{
	background-color: rgba(219,175,65,1)	}
	.flex-direction-nav a i,
    body a.pp_next:after,
    body a.pp_previous:after,
	body div.pp_default a.pp_next:after,
	body div.pp_default a.pp_previous:after{
	line-height: 70px; color: rgba(255,255,255,1);
	transition: all 0.15s ease-in-out;
	}
	.flex-direction-nav a:hover i,
	body div.pp_default a.pp_next:hover:after,
	body div.pp_default a.pp_previous:hover:after,
    body a.pp_next:hover:after,
    body a.pp_previous:hover:after,
	.flexslider:hover .flex-direction-nav a.flex-prev:hover i,
	.flexslider:hover .flex-direction-nav a.flex-next:hover i,
    .qode_content_slider .flex-direction-nav a.flex-prev:hover i,
    .qode_content_slider .flex-direction-nav a.flex-next:hover i,
	.portfolio_slider:hover .flex-direction-nav a.flex-prev:hover i,
	.portfolio_slider:hover .flex-direction-nav a.flex-next:hover i{
	color: rgba(255,255,255,1)	}



    .single_tags a,
    aside.sidebar .widget .tagcloud a,
    aside.sidebar .widget.widget_tag_cloud .tagcloud a,
    aside.sidebar .widget.widget_product_tag_cloud .tagcloud a,
    .wpb_widgetised_column .widget .tagcloud a,
    .wpb_widgetised_column .widget.widget_tag_cloud .tagcloud a,
    .wpb_widgetised_column .widget.widget_product_tag_cloud .tagcloud a,
    .widget .tagcloud a,
    .widget.widget_tag_cloud .tagcloud a,
    .widget.widget_product_tag_cloud .tagcloud a{
    font-family: Work Sans, sans-serif;font-size: 12px !important;line-height: 35px;letter-spacing: -0.24px;font-weight: 500;font-style: normal;text-transform: uppercase;color: #ffffff;background-color: #dcac34;padding: 0 25px;margin: 0 3px 5px 0;display: inline-block    }

    .single_tags a{
    	margin: 0;
	}
    .single_tags a:hover,
    aside.sidebar .widget.widget_tag_cloud .tagcloud a:hover,
    .wpb_widgetised_column .widget.widget_tag_cloud .tagcloud a:hover,
    .widget .tagcloud a:hover{
    color: #ffffff!important;background-color: #dbaf41!important    }
	.widget .tagcloud a:after {
		content: "";
	}

    .masonry_gallery_item.square_big .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.square_small .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_portrait .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }


    .masonry_gallery_item.rectangle_landscape .masonry_gallery_item_inner .masonry_gallery_item_content{
    text-align: center;    }




	aside .widget h5:not(.latest_post_title),
	.wpb_widgetised_column .widget h5:not(.latest_post_title){
	font-size: 20px;	}




.qode-type1-gradient-left-to-right { background: linear-gradient(to right,#dcac34, #dbb451);}

.qode-type1-gradient-bottom-to-top, .qode-type1-gradient-bottom-to-top-after:after { background: linear-gradient(to top,#dcac34, #dbb451);}

.qode-type1-gradient-left-bottom-to-right-top { background: linear-gradient(to right top,#dcac34, #dbb451);}

.qode-type1-gradient-left-to-right-2x { background: linear-gradient(to right,#dcac34 0%, #dbb451 50%,#dcac34 100%);background-size: 200% 200%;}

.qode-type1-gradient-left-to-right-text i, .qode-type1-gradient-left-to-right-text i:before, .qode-type1-gradient-left-to-right-text span { background: -webkit-linear-gradient(right top,#dbb451, #dcac34);color: #dcac34;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

.qode-type1-gradient-bottom-to-top-text i, .qode-type1-gradient-bottom-to-top-text i:before, .qode-type1-gradient-bottom-to-top-text span, .qode-type1-gradient-bottom-to-top-text span span { background: -webkit-linear-gradient(bottom,#dbb451, #dcac34);color: #dcac34;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

.qode-type1-gradient-bottom-to-top-text-hover:hover i, .qode-type1-gradient-bottom-to-top-text-hover:hover i:before, .qode-type1-gradient-bottom-to-top-text-hover:hover span, .qode-type1-gradient-bottom-to-top-text-hover:hover span span { background: -webkit-linear-gradient(bottom,#dbb451, #dcac34);color: #dcac34;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}

.qode-accordion-holder .qode-title-holder { text-transform: none;font-style: normal;}

.qode-btn { font-size: 13px;font-family: Work Sans;text-transform: capitalize;font-style: normal;letter-spacing: -0.2px;font-weight: 600;border-radius: 0px;}

.qode-btn.qode-btn-solid { color: #ffffff;background-color: #20d279;}

.qode-btn.qode-btn-solid .qode-button-v2-icon-holder { border-color: #20d279;background-color: #25df82;}

.qode-btn.qode-btn-solid:hover .qode-button-v2-icon-holder { border-color: #20d279;}

.qode_video_box .qode_video_image .qode_video_box_button { background-color: #21d279;}

.qode_video_box .qode_video_image:hover .qode_video_box_button { background-color: #4fe28d;}

.qode_video_box .qode_video_image .qode_video_box_button_arrow { border-left-color: #ffffff;}

.qode_video_box .qode_video_image:hover .qode_video_box_button_arrow { border-left-color: #ffffff;}

